extends layout

block content

  h1 Login AppSellos Jose
  hr

  .container
    form.form-signin(action="/login", method="POST")
        h2.form-signin-heading Login Usuarios
            hr
            p Correo electr칩nico:
              input.input-block-level(type="email", name="email", placeholder="Entra tu correo")
            br
            p Contrase침a:
              input.input-block-level(type="password", name="password", placeholder="Entra tu contrase침a")
            br
            button.btn.btn-large.btn-primary(type="submit") Registrarse
    if(error)
      div.alert.alert-danger="Error: correo o contrase침as incorrectas."