extends layout

block content

  h1 Registro AppSellos Jose
  hr

  .container
    form.form-signin(action="/register", method="POST")
        h2.form-signin-heading Registro Usuarios
            hr
            br
            p Nick-name:
              input.input-block-level(type="text", name="username", placeholder="Entra tu alias")
            br
            p Correo electrónico:
              input.input-block-level(type="email", name="email", placeholder="Entra tu correo")
            br
            p Contraseña:
              input.input-block-level(type="password", name="password", placeholder="Entra tu contraseña")
            br
            button.btn.btn-large.btn-primary(type="submit") Registrarse
    if(error)
      div.alert.alert-danger="Error: El correo ya esta en uso."